<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Home </h1> </header>
		<header> <h1> Kevin Thomas </h1> </header>
		<header> <h1> 1001544593</h1> </header>
		<br> <br>
		<img src="static/ab.png">
		<h1> This Webpage consist of Classes records</h1>
		<br>

		<h2><a href = "/enternew">Upload File</a></h2> <br>
		<h2><a href = "/list">Retrive Database Details</a></h2>
		<h2><a href = "/course">Course No </a></h2>
		<h2><a href = "/instructor">Instructor </a></h2>
		
		
      
	</body>
</html>